
.DS_Store
.vscode
/.vscode
.ipynb_checkpoints
*.pkl
__pycache__
*.pyc
*.pth


# ignore file types
*.zip

david9
original

/results_denoising
/interpolation

results
tools/visuals
benchmarks/interpolation
benchmarks/networkx-metis
benchmarks/pytorch-scatter
benchmarks/DUBLID

dataset/data

*.npy

data_old

# common - set in the last line
!.gitignore
!.gitkeep

logs
*.log
